.movieItem {
  margin: 10px 0;
  list-style: none;
}
.icon {
  margin-right: 10px;
}
.movie {
  color: black;
}
.movie:hover,
.movie:active {
  font-weight: 600;
  color: rgb(234, 41, 23);
}
.pageTitle {
  margin-top: 20px;
  margin-left: 20px;
}
